body {
  font-family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  background-color:#f2f5f9;
}

h1 {
  color: maroon;
  margin-left: 40px;
}

.category {
  margin: 10px;
}

.demo:hover {
  background: #BBBDBF;
}

.h3 {
  margin-left: 5px;  
}

.demo {
  font-family:'Avenir Next';
  font-size: 18;
  display: inline-block;
  padding: 15px;
  margin-left: 5px;
  margin-bottom: 5px;
  height: 50px;
  width: 220px;
  text-align: left;
  white-space: nowrap;
}

.col1 {
  display: inline-block;
  width:15%;
 }

.col2 {
  display: inline-block;
  width:82%;
}

.demo-empty,
.demo-empty a {
  background: #f2f5f9;
  color: #FFF;
}

.demo-blue,
.demo-blue a {
  background: #00648D;
  color: #FFF;
}

.demo-grey,
.demo-grey a {
  background: #959492;
  color: #FFF;
}

.demo-green,
.demo-green a {
  background: #008A52;
  color: #FFF;
}

.demo-purple,
.demo-purple a {
  background: #5133AB;
  color: #FFF;
}

.demo-orange,
.demo-orange a {
  background: #F19027;
  color: #FFF;
}

.demo-msg,
.demo-msg a {
  background: #D9182D;
  color: #FFF;
}

.demo-ppt,
.demo-ppt a {
  background: #D9182D;
  color: #FFF;
}

.demo-pdf,
.demo-pdf a {
  background: #006059;
  color: #FFF;
}

footer {
  display: inline-block;
  position: relative;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgb(248, 248, 248);
  height: 40px;
  line-height: 40px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid rgba(0,0,0,.075);
}

.disclaimer {
  font-size: 12px;
}

#owl-demo .item img{
    display: block;
    width: 70%;
    height: auto;
}
