body {
  font-family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h1 {
  color: maroon;
  margin-left: 40px;
}

.category {
  margin: 10px;
}

.demo:hover {
  background: #BBBDBF;
}

.demo {
  font-family:'Avenir Next';
  font-size: 18;
  display: inline-table;
  padding: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
  height: 50px;
  width: 230px;
  text-align: left;
}

.demo-blue,
.demo-blue a {
  background: #2672EC;
  color: #FFF;
}

.demo-tools,
.demo-tools a {
  background: #DC572E;
  color: #FFF;
}

.demo-green,
.demo-green a {
  background: #00A600;
  color: #FFF;
}

.demo-purple,
.demo-purple a {
  background: #5133AB;
  color: #FFF;
}

.demo-orange,
.demo-orange a {
  background: #FFA500;
  color: #FFF;
}

.demo-msg,
.demo-msg a {
  background: #388F58;
  color: #FFF;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgb(248, 248, 248);
  color: #888;
  text-align: right;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid rgba(0,0,0,.075);
}

.disclaimer {
  font-size: 12px;
}

#owl-demo .item img{
    display: block;
    width: 70%;
    height: auto;
}
